[[extend 'layout.html']]

<p>long celery task, pubsub.redis </p>

<button type="button" onclick="window.open(  window.location.href  );">new tab</button>
<button id="breaj_but" type="button" onclick="window.location.reload(true);">reload</button>
<button id='ltask_but'>Run Task</button>

<p id="task_result">?</p>

<span id='gen_id'></span> <span id="red_chan">X</span>
<p id="event_id"></p>
<p id="time"></p>
<p id="value"></p>


<script>

// https://stackoverflow.com/questions/24564030/is-an-eventsource-sse-supposed-to-try-to-reconnect-indefinitely

let clientid = 'xxxxxxxxxxxxxxx'

let generatorId= null;

! function (data_url) {
  
  let reconnectFrequencySeconds = 1;
  let evtSource;
  let lastId = 0;
  let data_url_id = data_url  + '?lastId=' + lastId.toString();
 
  
  // Putting these functions in extra variables is just for the sake of readability
  const waitFunc = function() { return reconnectFrequencySeconds * 1000 };
  const tryToSetupFunc = function() {
      setupEventSource();
      reconnectFrequencySeconds *= 2;
      if (reconnectFrequencySeconds >= 64) {
          reconnectFrequencySeconds = 64;
      }
  };
  
  const reconnectFunc = function() { setTimeout(tryToSetupFunc, waitFunc()) };
  
  function setupEventSource() {
      evtSource = new EventSource( data_url_id  ); 
      evtSource.onmessage = function(e) {
       // console.log(e);

      const fs= '1.4em';
      const data = JSON.parse(e.data);

      document.getElementById("time").innerHTML = data.time;
      document.getElementById("time").style.fontSize = fs;

      document.getElementById("value").innerHTML = 'random: ' +  data.value;
      document.getElementById("value").style.fontSize = fs;


      lastId = e.lastEventId;
      data_url_id = data_url  + '?lastId=' + lastId.toString();

      document.getElementById("event_id").innerHTML = data_url_id ; //   e.lastEventId;
      document.getElementById("event_id").style.fontSize = fs;
      document.getElementById("evData").innerHTML = data.msg_str ;
      if (  data.ltask) {
          document.getElementById("task_result").innerHTML = data.ltask ;
      }
   };

      evtSource.onopen = function(e) {
        reconnectFrequencySeconds = 1;
        console.log('open connection! ',e);
        console.log('reconnectFrequencySeconds:  ',reconnectFrequencySeconds);
      };

      evtSource.onerror = function(e) {

        evtSource.close();
        reconnectFunc();
      };

      // user events 

      evtSource.addEventListener("generator_start", function(e) {
          const data = JSON.parse(e.data);
          document.getElementById("gen_id").innerHTML = 'Generator id: ' + data.gen_id ;
          document.getElementById("red_chan").innerHTML = '; red_chan: ' + data.red_chan ;
          generatorId = data.gen_id;
      });

      evtSource.addEventListener("update_string", function(e) {
          const data = JSON.parse(e.data);
          console.log( data )
          generatorId = data.gen_id;
      });




  }
  
  setupEventSource();
  
}( "[[=XML(stream_url) ]]"  )

</script>


<form>
<input type="text" onkeyup="showHint(this.value)" placeholder="type and send to generator" style="font: 16px/1.6 menlo, monospace;">
</form>
<p><span id="txtHint" style="padding-left: 1em;font: 16px/1.6 menlo, monospace;"></span></p>
<p><span id="evData" style="padding-left: 1em;font: 16px/1.6 menlo, monospace;"></span></p>

<script>
function showHint(str) {
  const xmlhttp = new XMLHttpRequest();
  if (str.length === 0) {
    xmlhttp.open("GET", "[[=XML(hint1_url)]]?&generatorId=" + generatorId);
    document.getElementById("txtHint").innerHTML = "";

  } else {
    xmlhttp.open("GET", "[[=XML(hint1_url)]]?q=" + str + '&generatorId=' + generatorId);
    xmlhttp.onload = function() {
    document.getElementById("txtHint").innerHTML = this.responseText;
    }
  }
 xmlhttp.send();
}
</script>


<script>
        const resultElement = document.getElementById('task_result');

        document.getElementById('ltask_but').onclick = function() {
            const request = new XMLHttpRequest();
            request.open('POST', "[[=XML(ltask_url) ]]", true);

        request.setRequestHeader(
            'Content-Type',
            'application/x-www-form-urlencoded; charset=utf-8');
        request.onload = function() {
            resultElement.textContent = request.responseText;
        };
        request.send('generatorId=' + generatorId);

         //   request.onload = function() {
         //       resultElement.textContent = request.responseText;
         //   };
         //   request.send()
        };
    </script>


