[[extend 'layout.html']]

    <form method="get" action="[[=menu_url ]]">
             <input type="submit" value="menu">
    </form>

<script>
    function getURL() {
        window.open(  window.location.href  );
    }
</script>

    <button type="button" onclick="getURL();">new tab</button>


<h3>sse time and random</h3>
<br>
<div id="time"></div>
<br>
<div id="value"></div>
<script>
  const source = new EventSource("[[=stream_url ]]");
        source.onmessage = function (event) {
            const data = JSON.parse(event.data);

            document.getElementById("time").innerHTML = data.time;
            document.getElementById("time").style.fontSize = "40px";

            document.getElementById("value").innerHTML = data.value;
            document.getElementById("value").style.fontSize = "40px";
        }

</script>

