<!doctype html>
<!--
  spa.html
  spa browser document
-->

<html language="en">
<head>
  <meta charset="UTF-8">
  <!-- ie9+ rendering support for latest standards -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SPA Chapters 5-6</title>

  <!-- third-party stylesheets -->

  <!-- our stylesheets -->
  <link rel="stylesheet" href='[[ =URL( "static/tte-spa-67/css/spa.css" ) ]]'       type="text/css"/>
  <link rel="stylesheet" href='[[ =URL( "static/tte-spa-67/css/spa.shell.css" ) ]]' type="text/css"/>
  <link rel="stylesheet" href='[[ =URL( "static/tte-spa-67/css/spa.chat.css" ) ]]'  type="text/css"/>
  <link rel="stylesheet" href='[[ =URL( "static/tte-spa-67/css/spa.avtr.css" ) ]]'  type="text/css"/>

  <!-- third-party javascript -->
  <script src='[[ =URL( "static/tte-spa-67/socket.io.min.js" ) ]]'            ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/jq/taffydb-2.6.2.js" ) ]]'            ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/jq/jquery-1.9.1.js" ) ]]'             ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/jq/jquery.uriAnchor-1.1.3.js" ) ]]'   ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/jq/jquery.event.gevent-0.1.9.js" ) ]]'></script>
  <script src='[[ =URL( "static/tte-spa-67/js/jq/jquery.event.ue-0.3.2.js" ) ]]'    ></script>

  <!-- our javascript -->
  <script src='[[ =URL( "static/tte-spa-67/js/spa.js" ) ]]'       ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.util.js" ) ]]'  ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.data.js" ) ]]'  ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.fake.js" ) ]]'  ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.model.js" ) ]]' ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.util_b.js" ) ]]'></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.shell.js" ) ]]' ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.chat.js" ) ]]'  ></script>
  <script src='[[ =URL( "static/tte-spa-67/js/spa.avtr.js" ) ]]'  ></script>
  <script>
    $(function () { spa.initModule( $('#spa') ); });
  </script>

</head>
<body>
<div id="spa"></div>
</body>
</html>
