[[extend 'layout.html']]

[[ block page_head ]]


    <title>Sync Sliders</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

<style>

body{
    background: #F8F8F8;
    font-family: 'Courier New', Courier, monospace;
}


p, input[type="text"]
{
    font-size:16px;
}


p { padding: 1em; }

.sync {
width: 100%;
}

<!-- https://stackoverflow.com/questions/6890218/css-background-image-opacity -->

#bg {
  width: 100%;
  height: 100%;
}



#id {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.99;
}

#id::before {
  content: "";
  position: absolute;
    width:  200px;
    height: 200px;
    background-size: 50% 50%;
    opacity: 0.3;
  z-index: -1;


}



.hero {
/* Background pattern from Toptal Subtle Patterns */
   width: 100%;
   height: 100%;
   background-image: url(  [[ = URL('static/logop4w.png') ]] );
   background-size: 150px 150px;
   background-repeat: no-repeat, no-repeat;

}

.bg-color {background:rgba(0,0,0,0);}
.hero:hover .bg-color {background: rgba(0,0,0,.05);}




</style>

[[ end ]]



<script>

function debounce(func, timeout = 250){
  let timer;
  return (...args) => {
    clearTimeout(timer);
    timer = setTimeout(() => { func.apply(this, args); }, timeout);
  };
}

// https://remysharp.com/2010/07/21/throttling-function-calls/#comment-497362
// https://davidwalsh.name/javascript-debounce-function


</script>


<div class='hero'>
<div class='bg-color'>
    <p id="status"></p>

    <!-- label for="slider1">(from 0 and 100):</label -->
    <input id="slider1" class="sync" type="range" min="0" max="100" value="[[=  t_vars['slider1'] ]]" /> <br>

    <!-- label for="slider2">(from 0 and 100):</label -->
    <input id="slider2" class="sync" type="range" min="0" max="100" value="[[=  t_vars['slider2'] ]]" />

    <!-- label for="txt1">(text):</label  -->
    <input id="txt1" class="sync" type="text" value="[[=  t_vars['txt1'] ]]" />
    <p id="sync_txt1"></p>


</div>
</div>

<script>

 ! function (sio_url, init_vars, fi) {

            const socket = io.connect( sio_url, { transports: ["websocket"] } );
            const py_var = fi;

            const slider1 = document.getElementById('slider1'),
                  slider2 = document.getElementById('slider2'),
                  txt1 = document.getElementById('txt1'),
                  sync_txt1 = document.getElementById('sync_txt1'),
                  info =  document.getElementById('status');
            const yourImg = document.querySelector('.hero'); 
                 
            info.innerHTML= 'disconnected; run chan_sio.py';
            info.style.color='red';

set_size = function(v1, v2) {
   v1 +=  150;
   v2 +=  150;
   let v1x = v1.toString() + 'px';
   let v2x = v2.toString() + 'px';
   console.log(v1x)
   console.log(v2x)
   if(yourImg && yourImg.style) {
    yourImg.style.backgroundSize = v1x +' ' +  v2x;
    }

}


            const set_values= function(x) {
               let msg = null;
            
               if ( typeof x === "object") {
                   msg = x.vars ;
               } else {
              
                  msg = JSON.parse(x).vars;
               };
              
               slider1.value = msg[0] ;
               slider2.value =msg[1] ;
               txt1.value =  msg[2] ;
               sync_txt1.innerHTML=msg[2] ;
            }


            const get_values= function() {
               const js_vars = [ slider1.value   , slider2.value,  txt1.value ];
               console.log('!!!: ' , parseInt(js_vars[0]) )
               set_size(  parseInt(js_vars[0]), parseInt(js_vars[1])  ) 
               return  js_vars ; 
            }



            set_values( init_vars  );

            socket.on('connect', ()=> {
                socket.emit('sync_connect', {data: 'hello from ' + py_var });
                info.innerHTML = 'connect, sio_channel=  ' + sio_url
                info.style.color='blue';
            });

            socket.on('disconnect', ()=> {
                info.innerHTML= 'disconnected; run chan_sio.py';
                info.style.color='red';
            });

            socket.on('reconnect', ()=>{
                document.getElementById("status").innerHTML = 'reconnect!'
            });


            socket.on('update_sliders', function(msg) {
               set_values(msg);
               console.log( msg  )
           });


            slider1.onchange = function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
            }

            slider2.onchange = function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
            }

            txt1.oninput = debounce ( function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
                     }
            );


// textObject.defaultValue



 } ( "[[ = t_vars['sio_serv_url'] ]]" ,  [[ =  XML(t_vars['vars']) ]] ,   "[[=  t_vars['_fi_'] ]]" );



</script>


