[[extend 'layout.html']]

[[ block page_head ]]


    <title>Sync Sliders</title>
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>

<style>

body{
    background: #F8F8F8;
    font-family: 'Courier New', Courier, monospace;
}


p, input[type="text"]
{
    font-size:16px;
}


p { padding: 1.2em; }

.sync {
width: 100%;
}
</style>

[[ end ]]



<script>

function debounce(func, timeout = 250){
  let timer;
  return (...args) => {
    clearTimeout(timer);
    timer = setTimeout(() => { func.apply(this, args); }, timeout);
  };
}

// https://remysharp.com/2010/07/21/throttling-function-calls/#comment-497362
// https://davidwalsh.name/javascript-debounce-function


</script>


    <p id="status"></p>

    <!-- label for="slider1">(from 0 and 100):</label -->
    <input id="slider1" class="sync" type="range" min="0" max="100" value="40" /> <br>

    <!-- label for="slider2">(from 0 and 100):</label -->
    <input id="slider2" class="sync" type="range" min="0" max="100" value="60" />

    <!-- label for="txt1">(text):</label  -->
    <input id="txt1" class="sync" type="text" value = ':)' />
    <p id="sync_txt1"></p>


<script>

 ! function (sio_url, init_vars, fi) {

            const socket = io.connect( sio_url, { transports: ["websocket"] } );
            const py_var = fi;

            const slider1 = document.getElementById('slider1'),
                  slider2 = document.getElementById('slider2'),
                  txt1 = document.getElementById('txt1'),
                  sync_txt1 = document.getElementById('sync_txt1'),
                  info =  document.getElementById('status');

            const set_values= function(x) {
               let msg = null;
            
               if ( typeof x === "object") {
                   msg = x.vars ;
               } else {
              
                  msg = JSON.parse(x).vars;
               };
              
               slider1.value = msg[0] ;
               slider2.value =msg[1] ;
               txt1.value =  msg[2] ;
               sync_txt1.innerHTML=msg[2] ;
            }


            const get_values= function() {
               return [ slider1.value   , slider2.value,  txt1.value ];
            }


            set_values( init_vars  );

            socket.on('connect', ()=> {
                socket.emit('sync_connect', {data: 'hello from ' + py_var });
                document.getElementById("status").innerHTML = 'connect, sio_channel=  ' + sio_url
            });

            socket.on('disconnect', ()=> {
                document.getElementById("status").innerHTML = 'disconnect!'
            });

            socket.on('reconnect', ()=>{
                document.getElementById("status").innerHTML = 'reconnect!'
            });


            socket.on('update_sliders', function(msg) {
               set_values(msg);
           });


            slider1.onchange = function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
            }

            slider2.onchange = function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
            }

            txt1.oninput = debounce ( function(){
                     x = get_values();
                     sync_txt1.innerHTML = txt1.value;
                     socket.emit(fi, {data: x  });
                     }
            );


// textObject.defaultValue



 } ( "[[ = t_vars['sio_serv_url'] ]]" ,  [[ =  XML(t_vars['vars']) ]] ,   "[[=  t_vars['_fi_'] ]]" );



</script>


