[[block page_left_menu]]
  <ul>
    [[ for _item in  l_menu or []: ]]
      [[ if len(_item)<4 or not _item[3]: ]]
         <li> <a href="[[ = _item[2] ]]">[[ = _item[0] ]]</a> </li>
      [[ else: ]]
         <li>
             [[ = _item[0] ]]
             <ul>
                [[ for _subitem in _item[3]: ]]
                   <li> <a href="[[ = _subitem[2] ]]">[[ = _subitem[0] ]]</a></li>
                [[ pass ]]
             </ul>
         </li>
      [[ pass ]]
    [[ pass ]]
  </ul>
[[end]]


