[[extend 'layout.html']]

[[ block page_head ]]


    <title>Synchronized Sliders</title>
    <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script -->
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>


<style>

body{
    background: #F8F8F8;
    font-family: 'Courier New', Courier, monospace;
}


.sync {
    width: 100%;
    }

</style>

[[ end ]]

    <p id="status"></p>
    <p id="id_value">?</p>

<input id="ranger" type="range" min="30" max="100" value="[[=  t_vars['value'] ]]" style="width:50%;" />
<hr />
<img id="image" src="[[ = URL('static/logop4w.png') ]]"  width="320" height="230" />

<script>


! function (sio_url, init_value, fi) {

            const socket = io.connect( sio_url );
            const py_var = fi;

            const ranger = document.getElementById('ranger'),
                       image =  document.getElementById('image'),
                       id_value =  document.getElementById('id_value'),
                       info =  document.getElementById('status');
             
            let   width = image.width,
                  height = image.height;

            ranger.value = init_value;             
            info.innerHTML='disconnected! pls, run sio-server!';
            info.style.color = "red";

            // image.width = width * (ranger.value / 100);
            // image.height = height * (ranger.value / 100);
            // id_value.innerHTML=init_value ;

            function calcWidth(){
                     image.width = width * (ranger.value / 100);
                     image.height = height * (ranger.value / 100);
                     id_value.innerHTML=ranger.value ;
            };


            calcWidth();

            socket.on('connect', ()=> {
                socket.emit('sync_connect', {data: 'hello from ' + py_var });
                document.getElementById("status").innerHTML = 'connect, sio_channel=  ' + sio_url
                     info.style.color = "blue";
                //console.log('joke connected')
            });

            socket.on('disconnect', ()=> {
                document.getElementById("status").innerHTML = 'disconnect!'
            });

            socket.on('reconnect', ()=>{
                document.getElementById("status").innerHTML = 'reconnect!'
            });


            socket.on('update_image', function(msg) {
                 ranger.value = JSON.parse(msg).vars[0] //msg;

                 // image.width = width * (ranger.value / 100);
                 // image.height = height * (ranger.value / 100);
                 // id_value.innerHTML=msg ;
                     calcWidth();
                });

            socket.on('js_data', function(msg) {
                    console.log('!!! '+ JSON.parse(msg).vars[0]);
                });

                 
            ranger.onchange = function(){
                     // image.width = width * (ranger.value / 100);
                     // image.height = height * (ranger.value / 100);
                     // id_value.innerHTML=ranger.value ;
                     calcWidth();
                     socket.emit(fi, {data: ranger.value  });
            }
    

   } ( "[[ = t_vars['sio_serv_url'] ]]" , [[=  t_vars['value'] ]] , "[[=  XML(t_vars['_fi_']) ]]" );

    
</script>

<!-- https://www.c-sharpcorner.com/UploadFile/867331/image-scaling-by-slider-using-html5/  -->
<!-- https://stackoverflow.com/questions/15634036/using-input-type-range-to-scale-an-image -->
<!-- https://stackoverflow.com/questions/53091528/how-to-change-images-size-using-range-slider-in-javascript-and-html -->
